.main {
    display: flex;
    gap: 50px;
}

.searchFavSection {
    background-color: antiquewhite;
}

.showListSection {
    background-color: aliceblue;
}

.card {
    padding: 10px;
    background-color: cadetblue;
    margin-bottom: 10px;
}

img {
    display: block;
}

.js-listShowContainer .highlightFav {
    background-color: black ;
    color: white ;
}
